/* =========================== Feature Section Start Here ========================= */
.feature__area {
    padding-top: rem(90px);
    padding-bottom: rem(97px);
    position: relative;
    z-index: 1;

    @include xl-screen {
        padding-top: rem(77px);
        padding-bottom: rem(50px);
    }

    @include lg-screen {
        padding-top: rem(59px);
    }

    @include md-screen {
        padding-top: rem(62px);
    }

    @include sm-screen {
        padding-top: rem(53px);
    }

    .feature__sp {
        position: absolute;
        left: 15%;
        bottom: 10%;
        max-width: rem(80px);
        z-index: -1;
        user-select: none;
        pointer-events: none;
        animation: fet1 6s linear 0s infinite alternate none;

        @include md-screen {
            max-width: rem(50px);
        }

        @include sm-screen {
            display: none;
        }

        &.sp-two {
            left: auto;
            right: 15%;
            max-width: rem(100px);
            bottom: 5%;
            animation: fet2 6s linear 0s infinite alternate none;

            @include md-screen {
                max-width: rem(50px);
            }
        }

        &.sp-three {
            left: 5%;
            right: 15%;
            max-width: rem(100px);
            bottom: 20%;
            animation: fet3 6s linear 0s infinite alternate none;

            @include md-screen {
                max-width: rem(50px);
            }
        }

        &.sp-four {
            left: auto;
            right: 25%;
            max-width: rem(80px);
            bottom: 25%;
            animation: fet4 6s linear 0s infinite alternate none;

            @include md-screen {
                max-width: rem(50px);
            }
        }
    }

    @keyframes fet1 {
        0% {
            transform: scale(1) rotate(0deg) translateY(0px);
        }

        100% {
            transform: scale(0.6) rotate(-40deg) translateY(200px);
        }
    }

    @keyframes fet2 {
        0% {
            transform: scale(1) rotate(0deg) translateY(0px);
        }

        100% {
            transform: scale(0.6) rotate(40deg) translateY(-300px);
        }
    }

    @keyframes fet3 {
        0% {
            transform: scale(1) rotate(0deg) translateY(0px);
        }

        100% {
            transform: scale(0.8) translateX(200px);
        }
    }

    @keyframes fet4 {
        0% {
            transform: scale(1) rotate(0deg) translateY(0px);
        }

        100% {
            transform: scale(0.8) translateX(200px);
        }
    }

    .feature__snake__sp {
        position: absolute;
        left: 0;
        top: rem(-100px);
        z-index: -1;
        user-select: none;
        pointer-events: none;
    }

    .feature__img img {
        width: 100%;
        border-radius: rem(24px);

        @include lg-screen {
            border-radius: rem(18px);
        }

        @include md-screen {
            border-radius: rem(10px);
        }
    }

    @include lg-screen {

        .g-5,
        .gx-5 {
            --bs-gutter-x: 2rem;
        }

        .g-5,
        .gy-5 {
            --bs-gutter-y: 2rem;
        }
    }

    .feature__main {
        position: relative;
        z-index: 1;
        background-color: hsl(var(--black) / 0.02);
        border-radius: rem(24px);
        padding: rem(32px);
        backdrop-filter: blur(rem(5px));

        @include lg-screen {
            padding: rem(26px);
            border-radius: rem(18px);
        }

        @include md-screen {
            border-radius: rem(10px);
        }

        .feature__box {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            max-width: rem(100px);
        }

        .feature__content {
            h4 {
                font-size: rem(24px);
                text-transform: capitalize;
                margin-bottom: rem(16px);

                @include lg-screen {
                    font-size: rem(22px);
                }
            }

            p {
                font-size: rem(18px);
                margin-bottom: rem(20px);

                @include lg-screen {
                    font-size: rem(16px);
                }

                @include md-screen {
                    font-size: rem(14px);
                }
            }
        }

    }

    .feature__img {
        margin-top: rem(48px);

        @include md-screen {
            margin-top: rem(32px);
        }

        &.two {
            margin-top: 0;
            margin-bottom: rem(48px);

            @include md-screen {
                margin-bottom: rem(32px);
            }
        }
    }
}

.feature__title {
    margin-bottom: rem(78px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(10px);
    flex-wrap: wrap;

    @include xl-screen {
        margin-bottom: rem(50px);
    }

    @include lg-screen {
        margin-bottom: rem(40px);
    }

    @include md-screen {
        margin-bottom: rem(33px);
    }

    @include sm-screen {
        margin-bottom: rem(28px);
    }

    @include msm-screen {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    h2 {
        margin-bottom: 0;
        font-size: rem(64px);
        font-weight: 600;
        text-transform: uppercase;

        @include xl-screen {
            font-size: rem(54px);
        }

        @include lg-screen {
            font-size: rem(44px);
        }

        @include md-screen {
            font-size: rem(34px);
        }

        @include xsm-screen {
            font-size: rem(30px);
        }

        span {
            display: block;
            font-weight: 300;
        }
    }
}

.feature__title a span:first-child {
    width: rem(150px);
}

.feature__img__wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span:nth-child(1) {
        max-width: rem(340px);
        display: block;
        width: 100%;

        img {
            border-radius: 0;
        }
    }

    span:nth-child(2) {
        position: absolute;
        left: 14%;
        bottom: 0;
        z-index: 1;
        max-width: rem(56px);
        transition: .5s;

        @include md-screen {
            max-width: rem(40px);
        }
    }

    span:nth-child(3) {
        position: absolute;
        left: 2%;
        top: 0;
        z-index: 1;
        max-width: rem(56px);
        transition: .5s;

        @include md-screen {
            max-width: rem(40px);
        }
    }

    span:nth-child(4) {
        position: absolute;
        right: 14%;
        top: 0;
        z-index: 1;
        max-width: rem(56px);
        transition: .5s;

        @include md-screen {
            max-width: rem(40px);
        }
    }

    span:nth-child(5) {
        position: absolute;
        right: 2%;
        bottom: 0;
        z-index: 1;
        max-width: rem(56px);
        transition: .5s;

        @include md-screen {
            max-width: rem(40px);
        }
    }

    span img {
        width: 100%;
        border-radius: 50%;
    }
}

.feature__main__thumb {
    overflow: hidden;
    padding: rem(37px) rem(32px);
    min-height: rem(330px);
    border-radius: rem(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/feature/feature-thumb-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(var(--white));
    margin-bottom: rem(30px);

    @include lg-screen {
        min-height: rem(260px);
        padding: rem(30px) rem(26px);
    }

    @include md-screen {
        border-radius: rem(10px);
        min-height: rem(210px);
        padding: rem(20px) rem(20px);
    }

    &__sp {
        display: flex;
        gap: rem(50px);
        transition: 2s;

        @include md-screen {
            gap: rem(16px);
        }

        span {
            font-size: rem(18px);
            font-weight: 400;
            text-transform: capitalize;
            background-color: hsl(315, 90%, 51%);
            color: hsl(var(--white));
            padding: rem(5px) rem(16px);
            border-radius: rem(30px);
            transition: .4s;
            flex: 0 0 auto;
            height: fit-content;
            width: fit-content;

            @include lg-screen {
                font-size: rem(14px);
            }

            @include md-screen {
                font-size: rem(12px);
            }
        }

        span:nth-child(even) {
            position: relative;
            top: rem(10px);
        }

        &.two {
            margin-bottom: rem(10px);
        }

        &.two {
            margin-left: rem(-400px);
            transition: 2s;

            @include md-screen {
                margin-left: rem(-250px);
            }
        }

        &.three {
            position: relative;
            z-index: 1;
            justify-content: center;
            margin-top: rem(17px);
            transition: .6s;
        }

        .fp__one {
            width: rem(75px);
            height: rem(75px);
            border-radius: 50%;
            object-fit: cover;

            @include md-screen {
                width: rem(45px);
                height: rem(45px);
            }
        }

        .fp__two {
            width: rem(75px);
            height: rem(75px);
            border-radius: 50%;
            object-fit: cover;

            @include md-screen {
                width: rem(45px);
                height: rem(45px);
            }
        }

        .mouse__cursor {
            position: absolute;
            left: 60%;
            top: 0;
            z-index: 1;
            width: rem(28px);

            @include md-screen {
                top: rem(-14px);
                width: rem(20px);
            }
        }

        span:nth-child(2) {
            background-color: hsl(36, 100%, 50%);
        }

        span:nth-child(3) {
            background-color: hsl(269, 100%, 50%);
        }

        span:nth-child(4) {
            background-color: hsl(0, 93%, 65%);
        }

        span:nth-child(5) {
            background-color: hsl(251, 100%, 50%);
        }

        span:nth-child(6) {
            background-color: hsl(290, 100%, 50%);
        }

        span:nth-child(7) {
            background-color: hsl(0, 100%, 50%);
        }

        span:nth-child(8) {
            background-color: hsl(160, 100%, 50%);
        }

        span:nth-child(9) {
            background-color: hsl(142, 35%, 39%);
        }

        span:nth-child(10) {
            background-color: hsl(32, 100%, 32%);
        }

        &.two span:nth-child(1) {
            background-color: hsl(290, 100%, 50%);
        }

        &.two span:nth-child(2) {
            background-color: hsl(0, 100%, 50%);
        }

        &.two span:nth-child(3) {
            background-color: hsl(160, 100%, 50%);
        }

        &.two span:nth-child(4) {
            background-color: hsl(142, 35%, 39%);
        }

        &.two span:nth-child(5) {
            background-color: hsl(32, 100%, 32%);
        }

        .color__bl {
            background-color: hsl(191, 100%, 54%) !important;
        }
    }

    &.thumb-two {
        justify-content: flex-end;
        transition: .4s;
        min-height: rem(338px);

        @include lg-screen {
            min-height: rem(212px);
        }

        &:hover {
            padding: 0;

            .feature__main__thumb__inner img {
                transform: scale(1.05);
            }
        }
    }

    &__inner img {
        width: 100%;
        transition: .4s;
    }

    &:hover .feature__main__thumb__sp.two {
        margin-left: rem(-50px);
    }

    &:hover .feature__main__thumb__sp {
        margin-left: rem(-300px);
    }

    &:hover .feature__main__thumb__sp.three {
        margin-left: rem(-20px);
    }

    &:hover .feature__img__wrap span:nth-child(5) {
        right: 75%;
    }

    &:hover .feature__img__wrap span:nth-child(4) {
        top: 75%;
        right: 2%;
    }

    &:hover .feature__img__wrap span:nth-child(3) {
        left: 75%;
    }

    &:hover .feature__img__wrap span:nth-child(2) {
        bottom: 80%;
        left: 2%;
    }
}

/* =========================== Feature Section End Here ========================= */